ody {
    background-color: #f9f9f9;
  }
  a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
  }
  em {
    font-style: oblique;
  }
  strong {
    font-style: bold;
  }
  img {
    width: 100%;
  }
  h1, h2, h3, h4, h5 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
  }
  h3 {
    text-transform: capitalize;
    font-size: 1.875em;
    padding: 0 0 1% 0;
    color: #001833;
    font-weight: 800;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F3ece7
}
ul {

}

ul li{
    list-style: none;
    display: inline-block;
    float: right left;
    Line-height: 100px;
    padding: 0 20px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000
    padding: 0 20px;

}



nav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #C0D3CB;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    color: rgb(0,0,0)
    text-transform: uppercase;
    letter-spacing: 5px
    font-size: 20px;
}
.nav-links{
    text-decoration: none;  
  display: flex;
  justify-content:  space-around;
  width: 30;
  color:black
  padding 0 20px;
}
.active{
    font-weight: bold;
    color: black;
}
  

.hero-image {
    background: url("Imges/vecteezy_minimal-office-desk-table-with-keyboard-computer-coffee-cup-mouse-white-pen-earphones-lavender-flowers-on-a-green-table-with-copy-space-for-input-your-text-green-color-workplace-composition_1884691.jpg");
    background-position:  center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: %;
    display: flex;
    justify-content: center;
    align-items: center;


  }

.hero-image .hero-text {
color:#000000;
text-align: center;

}

.hero-text h1{
    font-size: 6em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;

}

.hero-text p{
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.09em;

}

.hero-btn{
    text-decoration: none;
    color: #fff;
    background: #DBE8E8;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;

}

.hero-image .hero-btn:hover{
    text-decoration: none;
    color:#fff;
    background: DADADA;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.hero-girl {
    height:80vh;
    padding: 0%;
    margin: 4%;
    animation: drop 1.5s ease;
}

  
@keyframes drop {
    0% {
opacity: 0;
transform: translateY(-80px);

}
100% {
    opacity: 1;
    transform: translateY(0px);
}}


.Projects {
    height: 300px;
    padding: 2% 0;
    
  }
  .Projects h3 {
    padding: 4% 0;
  }
  .text-box {
    float: left;
    text-align: left;
    width: 480px;
    background-color: #fff;
    height: 100%;
  }
  .text-box-content {
    padding: 4% 8%;
  }
  .text-box-content p {
    line-height: 1.8;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .button {
    padding: 5% 3%;
    border: 3px solid #e0ccc8;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #e0ccc8;
    text-align: center;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4%;
  }
  .button:hover {
    color: #fff;
    background-color: #e0ccc8;
  }
  .image-area {
    width: 480px;
    height: 300px;
    overflow: hidden;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  

